@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("BezRealtora/Fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("BezRealtora/Fonts/Roboto-Bold.ttf");
}
body {
  font-family: "Roboto";
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: ;
}
.main_rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main_header {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 180px;
}
.main_rate-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_rate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 1125px;
  padding: 0px 5% 50px 5%;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.first {
  margin-right: 60px;
}
.main_rate-image {
  width: 250px;
  height: 250px;
  position: relative;
  bottom: 10%;
  z-index: 10;
  margin-bottom: -20%;
}
.rate_header {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.rate-description {
  font-size: 15px;
  color: #808080;
  margin-bottom: 50px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.unordered-list_list-item {
  margin:0; padding:0;
  background:url("/BezRealtora/Sources/first-rate.svg") no-repeat 0 -3px;
  padding-left:30px;  
  min-height: 30px; 
  font-size: 20px;
  line-height: 150%;
  color: #000;
}
